<!-- editModalFragment.html -->
<div class="modal-content" th:fragment="editProductForm (productId, productName, productPrice, productDateAdded, productCategoryId)">
   <button th:data-name="${p.getID()}" th:onclick="closeEditModal(this.getAttribute('data-name'))" class="closeModal">X</button>
   <form id="editProductForm" method="POST" action="/admin/products/update">
      <label for="productName">Name</label>
      <input type="text" id="productName" name="name" th:value="${productName}"/>
      <label for="productPrice">Price</label>
      <input type="text" id="productPrice" name="price" th:value="${productId}"/>
      <label for="productDateAdded">Date Added</label>
      <input type="text" id="productDateAdded" name="dateAdded"  th:value="${productDateAdded}"/>
      <label for="productCategoryId">Category ID</label>
      <input type="text" id="productCategoryId" name="categoryId" th:value="${productCategoryId}"/>
      <button type="submit">send</button>    
   </form>    
</div>
