<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <title>Category List</title>
</head>
<body>

<div class="content">
    <div th:replace="~{fragments/sidebar}"></div>
    <h1>Users List</h1>
    
    <table>
        <thead>
            <tr>
                <th>purchaser id</th>
                <th>date</th>
                <th>total</th>
            </tr>
        </thead>
        <tbody>
            <!-- Display categorys dynamically here using server-side logic -->
            <tr th:each="p : ${purchases}">
                <td th:text="${p.purchaserid}"></td>
                <td th:text="${p.date}"></td>
                <td th:text="${p.total}"></td>
            </tr>
        
        
        </tbody>
    </table>
</div>
</body>
</html>